99-Shared/CanonicalDataModel/03-BSKlantbeheer/Contract/Case3.GoudGeel.BsKlantbeheer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Case3.GoudGeel.BsKlantbeheer" elementFormDefault="qualified" targetNamespace="Case3.GoudGeel.BsKlantbeheer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SayHelloTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>