99-Shared/02-PfSLocatorService/Contract/minorservicebuspfslocatorservicefunctionalerror.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:minor:servicebus:pfslocatorservice:functionalerror" elementFormDefault="qualified" targetNamespace="urn:minor:servicebus:pfslocatorservice:functionalerror" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FunctionalErrorList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfFunctionalErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionalErrorList" nillable="true" type="tns:FunctionalErrorList" />
  <xs:complexType name="ArrayOfFunctionalErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionalErrorDetail" nillable="true" type="tns:FunctionalErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunctionalErrorDetail" nillable="true" type="tns:ArrayOfFunctionalErrorDetail" />
  <xs:complexType name="FunctionalErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionalErrorDetail" nillable="true" type="tns:FunctionalErrorDetail" />
</xs:schema>