99-Shared/CanonicalDataModel/97-PfSLocatorService/Contract/minorservicebuspfslocatorserviceschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:minor:servicebus:pfslocatorservice:schema" elementFormDefault="qualified" targetNamespace="urn:minor:servicebus:pfslocatorservice:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceLocation" nillable="true" type="tns:ServiceLocation" />
</xs:schema>