99-Shared/CanonicalDataModel/05-PcSWinkelen/Contract/case3-pcswinkelenv1schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:case3-pcswinkelen:v1:schema" elementFormDefault="qualified" targetNamespace="urn:case3-pcswinkelen:v1:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
  <xs:complexType name="CatalogusCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogusItem" nillable="true" type="tns:ProductVoorraad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogusCollection" nillable="true" type="tns:CatalogusCollection" />
  <xs:complexType name="ProductVoorraad">
    <xs:sequence>
      <xs:element name="Product" nillable="true" xmlns:q1="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" type="q1:Product">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Voorraad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductVoorraad" nillable="true" type="tns:ProductVoorraad" />
</xs:schema>