99-Shared/CanonicalDataModel/05-PcSWinkelen/Contract/case3-bsbestellingenbeheerv1messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:case3-bsbestellingenbeheer:v1:messages" elementFormDefault="qualified" targetNamespace="urn:case3-bsbestellingenbeheer:v1:messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:case3-bsbestellingenbeheer:v1:schema" />
  <xs:complexType name="FindFirstBestellingRequestMessage">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="FindFirstBestellingRequestMessage" nillable="true" type="tns:FindFirstBestellingRequestMessage" />
  <xs:complexType name="FindFirstBestellingResultMessage">
    <xs:sequence>
      <xs:element name="BestellingOpdracht" nillable="true" xmlns:q1="urn:case3-bsbestellingenbeheer:v1:schema" type="q1:Bestelling">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindFirstBestellingResultMessage" nillable="true" type="tns:FindFirstBestellingResultMessage" />
  <xs:complexType name="InsertBestellingRequestMessage">
    <xs:sequence>
      <xs:element name="Bestelling" nillable="true" xmlns:q2="urn:case3-bsbestellingenbeheer:v1:schema" type="q2:Bestelling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertBestellingRequestMessage" nillable="true" type="tns:InsertBestellingRequestMessage" />
  <xs:complexType name="InsertBestellingResultMessage">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="InsertBestellingResultMessage" nillable="true" type="tns:InsertBestellingResultMessage" />
  <xs:complexType name="UpdateBestellingRequestMessage">
    <xs:sequence>
      <xs:element name="Bestelling" nillable="true" xmlns:q3="urn:case3-bsbestellingenbeheer:v1:schema" type="q3:Bestelling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateBestellingRequestMessage" nillable="true" type="tns:UpdateBestellingRequestMessage" />
  <xs:complexType name="UpdateBestellingResultMessage">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UpdateBestellingResultMessage" nillable="true" type="tns:UpdateBestellingResultMessage" />
</xs:schema>