99-Shared/CanonicalDataModel/05-PcSWinkelen/Contract/case3-pcswinkelenv1schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:case3-pcswinkelen:v1:schema" elementFormDefault="qualified" targetNamespace="urn:case3-pcswinkelen:v1:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
  <xs:complexType name="CatalogusCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogusItem" nillable="true" type="tns:CatalogusProductItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogusCollection" nillable="true" type="tns:CatalogusCollection" />
  <xs:complexType name="CatalogusProductItem">
    <xs:sequence>
      <xs:element name="Product" nillable="true" xmlns:q1="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" type="q1:Product">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Voorraad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogusProductItem" nillable="true" type="tns:CatalogusProductItem" />
  <xs:complexType name="WinkelmandItemRef">
    <xs:sequence>
      <xs:element name="ProductId" type="xs:int" />
      <xs:element name="Aantal" type="xs:int" />
      <xs:element name="SessieId" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WinkelmandItemRef" nillable="true" type="tns:WinkelmandItemRef" />
  <xs:complexType name="WinkelmandItem">
    <xs:sequence>
      <xs:element name="Product" nillable="true" xmlns:q2="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" type="q2:Product">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Aantal" type="xs:int" />
      <xs:element minOccurs="0" name="SessieId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WinkelmandItem" nillable="true" type="tns:WinkelmandItem" />
  <xs:complexType name="WinkelMandCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WinkelmandItem" nillable="true" type="tns:WinkelmandItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WinkelMandCollection" nillable="true" type="tns:WinkelMandCollection" />
  <xs:complexType name="KlantgegevensPcS">
    <xs:sequence>
      <xs:element name="Naam" nillable="true" type="xs:string" />
      <xs:element name="Adresregel1" nillable="true" type="xs:string" />
      <xs:element name="Adresregel2" nillable="true" type="xs:string" />
      <xs:element name="Postcode" nillable="true" type="xs:string" />
      <xs:element name="Woonplaats" nillable="true" type="xs:string" />
      <xs:element name="Telefoonnummer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KlantgegevensPcS" nillable="true" type="tns:KlantgegevensPcS" />
</xs:schema>