99-Shared/CanonicalDataModel/05-PcSWinkelen/Contract/case3-commonv1faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:case3-common:v1:faults" elementFormDefault="qualified" targetNamespace="urn:case3-common:v1:faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FunctionalErrorList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionalErrorDetail" nillable="true" type="tns:FunctionalErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionalErrorList" nillable="true" type="tns:FunctionalErrorList" />
  <xs:complexType name="FunctionalErrorDetail">
    <xs:sequence>
      <xs:element name="ErrorCode" type="xs:int" />
      <xs:element name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Data" nillable="true" type="xs:anyType">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionalErrorDetail" nillable="true" type="tns:FunctionalErrorDetail" />
</xs:schema>