99-Shared/CanonicalDataModel/05-PcSWinkelen/Contract/case3-bsbestellingenbeheerv1schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:case3-bsbestellingenbeheer:v1:schema" elementFormDefault="qualified" targetNamespace="urn:case3-bsbestellingenbeheer:v1:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
  <xs:complexType name="Klantgegevens">
    <xs:sequence>
      <xs:element name="Naam" nillable="true" type="xs:string" />
      <xs:element name="Adresregel1" nillable="true" type="xs:string" />
      <xs:element name="Adresregel2" nillable="true" type="xs:string" />
      <xs:element name="Postcode" nillable="true" type="xs:string" />
      <xs:element name="Woonplaats" nillable="true" type="xs:string" />
      <xs:element name="Telefoonnummer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Klantgegevens" nillable="true" type="tns:Klantgegevens" />
  <xs:complexType name="Bestelling">
    <xs:sequence>
      <xs:element name="BestellingID" nillable="true" type="xs:int" />
      <xs:element name="FactuurID" nillable="true" type="xs:int" />
      <xs:element name="FactuurDatum" nillable="true" type="xs:string" />
      <xs:element name="Artikelen" nillable="true" type="tns:Artikelen" />
      <xs:element name="Status" nillable="true" type="xs:int" />
      <xs:element name="Klantgegevens" nillable="true" type="tns:Klantgegevens" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bestelling" nillable="true" type="tns:Bestelling" />
  <xs:complexType name="Artikelen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtikelItem" nillable="true" type="tns:BestelItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artikelen" nillable="true" type="tns:Artikelen" />
  <xs:complexType name="BestelItem">
    <xs:sequence>
      <xs:element name="Product" nillable="true" xmlns:q1="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" type="q1:Product">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Aantal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BestelItem" nillable="true" type="tns:BestelItem" />
</xs:schema>