99-Shared/CanonicalDataModel/05-PcSWinkelen/Contract/minorcase3pcswinkelenv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:minor:case3:pcswinkelen:v1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:minor:case3:pcswinkelen:v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:minor:case3:pcswinkelen:v1/Imports">
      <xsd:import namespace="urn:minor:case3:pcswinkelen:v1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:case3-pcswinkelen:v1:messages" />
      <xsd:import namespace="urn:case3-pcswinkelen:v1:schema" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:categorie:v1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPcSWinkelenService_GetCatalogusItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogusItems" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_GetCatalogusItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogusItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_SayHelloTest_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloTest" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_SayHelloTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IPcSWinkelenService">
    <wsdl:operation name="GetCatalogusItems">
      <wsdl:input wsaw:Action="urn:minor:case3:pcswinkelen:v1/IPcSWinkelenService/GetCatalogusItems" message="tns:IPcSWinkelenService_GetCatalogusItems_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case3:pcswinkelen:v1/IPcSWinkelenService/GetCatalogusItemsResponse" message="tns:IPcSWinkelenService_GetCatalogusItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHelloTest">
      <wsdl:input wsaw:Action="urn:minor:case3:pcswinkelen:v1/IPcSWinkelenService/SayHelloTest" message="tns:IPcSWinkelenService_SayHelloTest_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case3:pcswinkelen:v1/IPcSWinkelenService/SayHelloTestResponse" message="tns:IPcSWinkelenService_SayHelloTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IPcSWinkelenService" type="tns:IPcSWinkelenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCatalogusItems">
      <soap:operation soapAction="urn:minor:case3:pcswinkelen:v1/IPcSWinkelenService/GetCatalogusItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHelloTest">
      <soap:operation soapAction="urn:minor:case3:pcswinkelen:v1/IPcSWinkelenService/SayHelloTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>