99-Shared/CanonicalDataModel/05-PcSWinkelen/Contract/schemas-www-kantilever-nlcommonfoutenv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:schemas-www-kantilever-nl:common:fouten:v1" elementFormDefault="qualified" targetNamespace="urn:schemas-www-kantilever-nl:common:fouten:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="FoutErnst">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Kritisch" />
      <xs:enumeration value="Waarschuwing" />
      <xs:enumeration value="Melding" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FoutErnst" nillable="true" type="tns:FoutErnst" />
  <xs:complexType name="FoutMelding">
    <xs:sequence>
      <xs:element name="Bron" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nummer" type="xs:int" />
      <xs:element name="Melding" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Niveau" type="tns:FoutErnst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoutMelding" nillable="true" type="tns:FoutMelding" />
</xs:schema>