99-Shared/CanonicalDataModel/05-PcSWinkelen/Contract/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="urn:case3-common:v1:faults" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:case3-pcswinkelen:v1:messages" />
      <xsd:import namespace="urn:case3-pcswinkelen:v1:schema" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:categorie:v1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPcSWinkelenService_GetCatalogusItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogusItems" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_GetCatalogusItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogusItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_GetCatalogusItems_ErrorListFault_FaultMessage">
    <wsdl:part name="detail" xmlns:q1="urn:case3-common:v1:faults" element="q1:ErrorList" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_AddProductToWinkelmand_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToWinkelmand" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_AddProductToWinkelmand_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToWinkelmandResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_GetWinkelmand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWinkelmand" />
  </wsdl:message>
  <wsdl:message name="IPcSWinkelenService_GetWinkelmand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWinkelmandResponse" />
  </wsdl:message>
  <wsdl:portType name="IPcSWinkelenService">
    <wsdl:operation name="GetCatalogusItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IPcSWinkelenService/GetCatalogusItems" message="tns:IPcSWinkelenService_GetCatalogusItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPcSWinkelenService/GetCatalogusItemsResponse" message="tns:IPcSWinkelenService_GetCatalogusItems_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPcSWinkelenService/GetCatalogusItemsErrorListFault" name="ErrorListFault" message="tns:IPcSWinkelenService_GetCatalogusItems_ErrorListFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductToWinkelmand">
      <wsdl:input wsaw:Action="http://tempuri.org/IPcSWinkelenService/AddProductToWinkelmand" message="tns:IPcSWinkelenService_AddProductToWinkelmand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPcSWinkelenService/AddProductToWinkelmandResponse" message="tns:IPcSWinkelenService_AddProductToWinkelmand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWinkelmand">
      <wsdl:input wsaw:Action="http://tempuri.org/IPcSWinkelenService/GetWinkelmand" message="tns:IPcSWinkelenService_GetWinkelmand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPcSWinkelenService/GetWinkelmandResponse" message="tns:IPcSWinkelenService_GetWinkelmand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IPcSWinkelenService" type="tns:IPcSWinkelenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCatalogusItems">
      <soap:operation soapAction="http://tempuri.org/IPcSWinkelenService/GetCatalogusItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorListFault">
        <soap:fault name="ErrorListFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddProductToWinkelmand">
      <soap:operation soapAction="http://tempuri.org/IPcSWinkelenService/AddProductToWinkelmand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWinkelmand">
      <soap:operation soapAction="http://tempuri.org/IPcSWinkelenService/GetWinkelmand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>