99-Shared/CanonicalDataModel/06-PcSBestellen/Contract/case3-pcsbestellenv1schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:case3-pcsbestellen:v1:schema" elementFormDefault="qualified" targetNamespace="urn:case3-pcsbestellen:v1:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
  <xs:complexType name="BestellingPcS">
    <xs:sequence>
      <xs:element name="BestellingID" nillable="true" type="xs:int" />
      <xs:element name="FactuurID" nillable="true" type="xs:int" />
      <xs:element name="FactuurDatum" nillable="true" type="xs:string" />
      <xs:element name="Status" nillable="true" type="xs:int" />
      <xs:element name="Klantgegevens" nillable="true" type="tns:KlantgegevensPcS" />
      <xs:element name="ArtikelenPcS" nillable="true" type="tns:ArtikelenPcS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BestellingPcS" nillable="true" type="tns:BestellingPcS" />
  <xs:complexType name="KlantgegevensPcS">
    <xs:sequence>
      <xs:element name="Naam" nillable="true" type="xs:string" />
      <xs:element name="Adresregel1" nillable="true" type="xs:string" />
      <xs:element name="Adresregel2" nillable="true" type="xs:string" />
      <xs:element name="Postcode" nillable="true" type="xs:string" />
      <xs:element name="Woonplaats" nillable="true" type="xs:string" />
      <xs:element name="Telefoonnummer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KlantgegevensPcS" nillable="true" type="tns:KlantgegevensPcS" />
  <xs:complexType name="ArtikelenPcS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtikelItemPcS" nillable="true" type="tns:BestelItemPcS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtikelenPcS" nillable="true" type="tns:ArtikelenPcS" />
  <xs:complexType name="BestelItemPcS">
    <xs:sequence>
      <xs:element name="Product" nillable="true" xmlns:q1="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" type="q1:Product">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Aantal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BestelItemPcS" nillable="true" type="tns:BestelItemPcS" />
</xs:schema>