99-Shared/CanonicalDataModel/06-PcSBestellen/Contract/Case3.GoudGeel.PcSBestellen.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="Case3.GoudGeel.PcSBestellen" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="Case3.GoudGeel.PcSBestellen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Case3.GoudGeel.PcSBestellen/Imports">
      <xsd:import namespace="Case3.GoudGeel.PcSBestellen" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:case3-pcsbestellen:v1:messages" />
      <xsd:import namespace="urn:case3-pcsbestellen:v1:schema" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:categorie:v1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPcSBestellenService_FindNextBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:FindNextBestelling" />
  </wsdl:message>
  <wsdl:message name="IPcSBestellenService_FindNextBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindNextBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSBestellenService_BestellingPlaatsen_InputMessage">
    <wsdl:part name="parameters" element="tns:BestellingPlaatsen" />
  </wsdl:message>
  <wsdl:message name="IPcSBestellenService_BestellingPlaatsen_OutputMessage">
    <wsdl:part name="parameters" element="tns:BestellingPlaatsenResponse" />
  </wsdl:message>
  <wsdl:portType name="IPcSBestellenService">
    <wsdl:operation name="FindNextBestelling">
      <wsdl:input wsaw:Action="Case3.GoudGeel.PcSBestellen/IPcSBestellenService/FindNextBestelling" message="tns:IPcSBestellenService_FindNextBestelling_InputMessage" />
      <wsdl:output wsaw:Action="Case3.GoudGeel.PcSBestellen/IPcSBestellenService/FindNextBestellingResponse" message="tns:IPcSBestellenService_FindNextBestelling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BestellingPlaatsen">
      <wsdl:input wsaw:Action="Case3.GoudGeel.PcSBestellen/IPcSBestellenService/BestellingPlaatsen" message="tns:IPcSBestellenService_BestellingPlaatsen_InputMessage" />
      <wsdl:output wsaw:Action="Case3.GoudGeel.PcSBestellen/IPcSBestellenService/BestellingPlaatsenResponse" message="tns:IPcSBestellenService_BestellingPlaatsen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IPcSBestellenService" type="tns:IPcSBestellenService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindNextBestelling">
      <soap:operation soapAction="Case3.GoudGeel.PcSBestellen/IPcSBestellenService/FindNextBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BestellingPlaatsen">
      <soap:operation soapAction="Case3.GoudGeel.PcSBestellen/IPcSBestellenService/BestellingPlaatsen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>