99-Shared/CanonicalDataModel/04-BSBestellingenbeheer/Contract/Case3.GoudGeel.BsBestellingenbeheer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="Case3.GoudGeel.BsBestellingenbeheer" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="Case3.GoudGeel.BsBestellingenbeheer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Case3.GoudGeel.BsBestellingenbeheer/Imports">
      <xsd:import namespace="Case3.GoudGeel.BsBestellingenbeheer" />
      <xsd:import namespace="urn:case3-common:v1:faults" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:case3-bsbestellingenbeheer:v1:messages" />
      <xsd:import namespace="urn:case3-bsbestellingenbeheer:v1:schema" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:categorie:v1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBSBestellingenbeheerService_FindFirstBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:FindFirstBestelling" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_FindFirstBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindFirstBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_FindFirstBestelling_ErrorLijstFault_FaultMessage">
    <wsdl:part name="detail" xmlns:q1="urn:case3-common:v1:faults" element="q1:ErrorLijst" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_InsertBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBestelling" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_InsertBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_InsertBestelling_ErrorLijstFault_FaultMessage">
    <wsdl:part name="detail" xmlns:q2="urn:case3-common:v1:faults" element="q2:ErrorLijst" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_UpdateBestellingStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBestellingStatus" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_UpdateBestellingStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBestellingStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_UpdateBestellingStatus_ErrorLijstFault_FaultMessage">
    <wsdl:part name="detail" xmlns:q3="urn:case3-common:v1:faults" element="q3:ErrorLijst" />
  </wsdl:message>
  <wsdl:portType name="IBSBestellingenbeheerService">
    <wsdl:operation name="FindFirstBestelling">
      <wsdl:input wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/FindFirstBestelling" message="tns:IBSBestellingenbeheerService_FindFirstBestelling_InputMessage" />
      <wsdl:output wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/FindFirstBestellingResponse" message="tns:IBSBestellingenbeheerService_FindFirstBestelling_OutputMessage" />
      <wsdl:fault wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/FindFirstBestellingErrorLijstFault" name="ErrorLijstFault" message="tns:IBSBestellingenbeheerService_FindFirstBestelling_ErrorLijstFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBestelling">
      <wsdl:input wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/InsertBestelling" message="tns:IBSBestellingenbeheerService_InsertBestelling_InputMessage" />
      <wsdl:output wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/InsertBestellingResponse" message="tns:IBSBestellingenbeheerService_InsertBestelling_OutputMessage" />
      <wsdl:fault wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/InsertBestellingErrorLijstFault" name="ErrorLijstFault" message="tns:IBSBestellingenbeheerService_InsertBestelling_ErrorLijstFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBestellingStatus">
      <wsdl:input wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/UpdateBestellingStatus" message="tns:IBSBestellingenbeheerService_UpdateBestellingStatus_InputMessage" />
      <wsdl:output wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/UpdateBestellingStatusResponse" message="tns:IBSBestellingenbeheerService_UpdateBestellingStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/UpdateBestellingStatusErrorLijstFault" name="ErrorLijstFault" message="tns:IBSBestellingenbeheerService_UpdateBestellingStatus_ErrorLijstFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IBSBestellingenbeheerService" type="tns:IBSBestellingenbeheerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindFirstBestelling">
      <soap:operation soapAction="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/FindFirstBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorLijstFault">
        <soap:fault name="ErrorLijstFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertBestelling">
      <soap:operation soapAction="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/InsertBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorLijstFault">
        <soap:fault name="ErrorLijstFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBestellingStatus">
      <soap:operation soapAction="Case3.GoudGeel.BsBestellingenbeheer/IBSBestellingenbeheerService/UpdateBestellingStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorLijstFault">
        <soap:fault name="ErrorLijstFault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>