99-Shared/CanonicalDataModel/04-BSBestellingenbeheer/Contract/minorcase3bsbestellingenbeheerv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:minor:case3:bsbestellingenbeheer:v1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:minor:case3:bsbestellingenbeheer:v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:minor:case3:bsbestellingenbeheer:v1/Imports">
      <xsd:import namespace="urn:minor:case3:bsbestellingenbeheer:v1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:case3-bsbestellingenbeheer:v1:messages" />
      <xsd:import namespace="urn:case3-bsbestellingenbeheer:v1:schema" />
      <xsd:import namespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:product:v1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBSBestellingenbeheerService_FindFirstBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:FindFirstBestelling" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_FindFirstBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindFirstBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_InsertBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBestelling" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_InsertBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBestellingResponse" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_UpdateBestelling_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBestelling" />
  </wsdl:message>
  <wsdl:message name="IBSBestellingenbeheerService_UpdateBestelling_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBestellingResponse" />
  </wsdl:message>
  <wsdl:portType name="IBSBestellingenbeheerService">
    <wsdl:operation name="FindFirstBestelling">
      <wsdl:input wsaw:Action="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/FindFirstBestelling" message="tns:IBSBestellingenbeheerService_FindFirstBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/FindFirstBestellingResponse" message="tns:IBSBestellingenbeheerService_FindFirstBestelling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBestelling">
      <wsdl:input wsaw:Action="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/InsertBestelling" message="tns:IBSBestellingenbeheerService_InsertBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/InsertBestellingResponse" message="tns:IBSBestellingenbeheerService_InsertBestelling_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBestelling">
      <wsdl:input wsaw:Action="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/UpdateBestelling" message="tns:IBSBestellingenbeheerService_UpdateBestelling_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/UpdateBestellingResponse" message="tns:IBSBestellingenbeheerService_UpdateBestelling_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IBSBestellingenbeheerService" type="tns:IBSBestellingenbeheerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindFirstBestelling">
      <soap:operation soapAction="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/FindFirstBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBestelling">
      <soap:operation soapAction="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/InsertBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBestelling">
      <soap:operation soapAction="urn:minor:case3:bsbestellingenbeheer:v1/IBSBestellingenbeheerService/UpdateBestelling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>