99-Shared/CanonicalDataModel/04-BSBestellingenbeheer/Contract/schemas-www-kantilever-nlbscatalogusbeheercategoriev1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:schemas-www-kantilever-nl:bscatalogusbeheer:categorie:v1" elementFormDefault="qualified" targetNamespace="urn:schemas-www-kantilever-nl:bscatalogusbeheer:categorie:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Categorie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element name="Naam" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categorie" nillable="true" type="tns:Categorie" />
</xs:schema>