99-Shared/CanonicalDataModel/03-BSKlantbeheer/Schema/Case3.BSKlantbeheer.V1.Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="urn:case3-bsklantbeheer:v1:schema"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:k="urn:case3-bsklantbeheer:v1:schema"
>
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element name="Merk" type="xs:string" />
      <xs:element name="Type" type="xs:string" />
      <xs:element name="Kenteken" type="xs:string" />
      <xs:element name="Kleur" type="xs:string" />
      <xs:element name="Id" type="xs:long" />
      <xs:element name="KlantID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>